<footer class="bg-gray-900 text-white text-center py-5 roboto">
    <div class="container mx-auto">
        <p>&copy; 2025 IMDb Clone. All rights reserved.</p>
        <p class="mt-2">
            <span (click)="openAbout()" class="text-yellow-500 hover:cursor-pointer mx-2">About</span>
            <span (click)="openContact()"   class="text-yellow-500 hover:cursor-pointer mx-2">Contact</span>
            <span (click)="openPrivacyPolicy()"  class="text-yellow-500 hover:cursor-pointer mx-2">Privacy Policy</span>
        </p>
    </div>
</footer>
