@tailwind base;
@tailwind components;
@tailwind utilities;



.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

body { margin: 0; font-family: "Inter", sans-serif; }

/* Fix Tailwind conflict with Angular Material overlay */




.move-left-on-hover:hover img {
  transform: translateX(-5px);
  transition: transform 0.3s ease;
}

