<div class="min-h-screen bg-gray-900 text-white p-4 sm:p-6">
  <div
    class="flex flex-row sm:flex-row sm:justify-between sm:items-center gap-3 sm:gap-0 mb-6 text-center sm:text-left"
  >
    <!-- Back Button -->
    <button
      class="flex items-center justify-center self-start sm:self-auto px-3 py-2 bg-yellow-500 text-gray-900 rounded-md hover:bg-yellow-600 text-sm sm:text-sm truncate"
      onclick="window.history.back()"
    >
      <img src="backimage.png" alt="back" class="mr-2" width="20" height="20" />
      <span class="truncate hidden sm:inline">Back</span>
    </button>

    <!-- Heading -->
    <h1 class="text-lg sm:text-3xl font-bold">Your Favorite Movies</h1>

    <!-- Delete All Button -->
    @if(favoriteFromLocalStorage && favoriteFromLocalStorage.length > 0) {
    <button
      class="flex items-center justify-center self-end sm:self-auto px-3 py-2 bg-yellow-500 text-gray-900 rounded-md hover:bg-yellow-600 text-sm sm:text-base truncate"
      (click)="deleteAll()"
    >
      <span class="truncate hidden sm:inline"> Delete All </span>
      <i class="fa-solid fa-trash ml-2"></i>
    </button>
    }
  </div>

  <div *ngIf="favoriteFromLocalStorage.length > 0; else noFavorites">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 sm:gap-6"
    >
      <div
        *ngFor="let movie of movieData"
        class="bg-gray-800 rounded-lg shadow-md overflow-hidden transition-transform transform hover:scale-105 hover:cursor-pointer"
        (click)="onSelect(movie)"
      >
        <div class="hover:bg-gray-700 transition duration-300"></div>

        <img
          [src]="movie.Poster"
          (error)="onImageError($event)"
          alt="Poster"
          class="w-full h-64 object-fill"
        />
        <div class="p-4">
          <h2 class="text-sm sm:text-lg font-semibold">{{ movie.Title }}</h2>
          <p class="text-xs sm:text-sm text-gray-400">{{ movie.Year }}</p>
          <button
            (click)="
              removeFromFavorites(movie.imdbID); $event.stopPropagation()
            "
            class="mt-2 text-red-400 hover:underline text-xs sm:text-sm"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noFavorites>
    <p class="text-center text-gray-400 mt-10">
      You haven’t added any favorites yet.
    </p>
  </ng-template>
</div>
